@model webProjeV2.Models.Kitap
@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer



<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="~/css/loginPage.css" rel="stylesheet">


</head>

<body>

    <div class="login contact-form text-light">
        <h1>Kitap Güncelle</h1>
        <form method="post" asp-action="AdminKitapGüncelleVeritabani" asp-controller="Admin">

            <input type="hidden" value="@Model.KitapId" name="KitapId" />
            <input value="@Model.kitapIsmi" type="text" name="kitapIsmi" placeholder="Kitap İsmi" required="required" />
            <input value="@Model.kitapFiyat" type="number" name="kitapFiyat" placeholder="Kitap Fiyat" required="required" />
            <input value="@Model.kitapResimUrl" type="text" name="kitapResimUrl" placeholder="Kitap Resmi Url" required="required" />
            <input value="@Model.kitapSayfaSayisi" type="number" name="kitapSayfaSayisi" placeholder="Kitap Sayfa Sayisi" required="required" />
            <input value="@Model.kitapAciklama" type="text" name="kitapAciklama" placeholder="Kitap Açıklaması" required="required" />
            <input value="@Model.kitapKategori" type="text" name="kitapKategori" placeholder="Kitap Kategorisi" required="required" />


            <button type="submit" class="btn btn-primary btn-block btn-large"> Kitabı Güncelle</button>

        </form>
    </div>


</body>

</html>

