@model List<webProjeV2.Models.Kullanici>
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Localization
@using Microsoft.Extensions.Options
@inject IViewLocalizer Localizer
@inject IOptions<RequestLocalizationOptions> LocOptions

@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    var cultureItems = LocOptions.Value.SupportedUICultures
        .Select(c => new SelectListItem { Value = c.Name, Text = c.DisplayName })
        .ToList();
}

<!DOCTYPE html>
<html>
<head>
    <style>
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
        }

        li {
            float: left;
        }

            li a {
                display: block;
                color: white;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
            }

                li a:hover:not(.active) {
                    background-color: #808080;
                }
    </style>
</head>
<body>

    <select onchange="SetCulture(this.value)" asp-for="@requestCulture.RequestCulture.UICulture.Name" asp-items="cultureItems">
    </select>

    <ul class="text-light">
        <li><a asp-action="Index" asp-controller="Admin">Kitaplar</a></li>
        <li><a asp-action="IndexUsers" asp-controller="Admin">Kullanıcılar</a></li>
    </ul>

</body>
</html>


<form runat="server" class="text-white">
    <div style="margin-top:15px 0px 0px 5px">
        <table class="table-bordered text-white">
            <tr>

                <th>@Localizer["isim"]</th>
                <th>@Localizer["cinsiyet"]</th>
                <th>@Localizer["dogumtarihi"]</th>
                <th>@Localizer["mail"]</th>
                <th></th>
                <th></th>

            </tr>



            @foreach (var user in Model)
            {

                @await Html.PartialAsync("AdminUser", user)

            }

        </table>
    </div>
</form>


<script>
    function SetCulture(selectedValue) {
        alert(selectedValue);
        var url = window.location.href.split('?')[0];
        var culture = "?culture=" + selectedValue + "&ui-culture=" + selectedValue;
        window.location.href = url + culture;
    }
</script>

