@model webProjeV2.Models.Kitap
@using webProjeV2.Models
@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer


<div class="row">
    <div class="col-lg-6 col-md-10 mb-6">
        <div class="contact-form text-light">
            <img class="card-img-top" style="width:280px;height: 400px" src="@Model.kitapResimUrl" alt="">
            <div class="card-body">
                <h4 class="card-title">
                    <p>@Model.kitapIsmi</p>
                </h4>

                <p>@Localizer["ortalamaFiyat"]:@Model.kitapFiyat TL</p>
                <p>@Localizer["kategori"] :@Model.kitapKategori</p>
                <p>@Localizer["sayfasayisi"] :@Model.kitapSayfaSayisi</p>
                <p>@Localizer["ozet"] :@Model.kitapAciklama</p>

            </div>
        </div>
    </div>
    <div>
        <h3 class="text-light">Yorum Yazınız</h3>
        <textarea rows="4" cols="50"></textarea>
        <button>Yorum Yap</button>
    </div>


</div>





