@model webProjeCalismasi.Models.Kitaplar

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Kitaplar</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.kitapIsmi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.kitapIsmi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.kitapFiyat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.kitapFiyat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.kitapResimUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.kitapResimUrl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.kitapSayfaSayisi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.kitapSayfaSayisi)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="KitaplarId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
